@{
    ViewData["Title"] = "About page";
}
<h1>@ViewData["About"]</h1>
<br />
<p>This web page is the work of Stefan-Danie Horvath, and it is part of his 2021 bachelor project.</p>
<p>The scope of the page is to display the reports made by Cleaning Sim game regarding the performance of players during the tutorial and bathroom levels.</p>
